#theme {
  width: 100%;
  height: 300px;
}

#theme-container {
  width: 75%;
  margin: auto;
  margin-top: 20px;
  display: flex;
  width: 75%;
  height: 100%;
}

#theme-info {
  margin: auto;
  width: 50%;
  /* margin-left: 5%; */
}

#theme-info-p {
  color: #bcbcbc;
  width: 90%;
}

#theme-editor {
  margin: auto;
  width: 50%;
  /* width: 45%; */
  height: 190px;
  /* height: 200px; */
}

@media only screen and (width <= 1024px) {
  #theme-container {
    width: 100%;
  }
}
