#performance {
  width: 100%;
  height: 600px;
}

#performance-container {
  width: 75%;
  margin: auto;
  margin-top: 20px;
  display: flex;
  width: 75%;
  height: 100%;
}
/* .token.operator {
  background: none;
} */

@media only screen and (width <= 1024px) {
  #performance-container {
    width: 100%;
  }
}
