#performance {
  width: 100%;
  height: 600px;
}

#performance-container {
  width: 75%;
  margin: auto;
  display: flex;
  height: 100%;
}

#performance-info {
  margin: auto;
  width: 50%;
}

#performance-info-p {
  color: #bcbcbc;
  width: 90%;
}

.performance-link {
  color: #61dbfb;
}

#performance-editor {
  margin: auto;
  width: 50%;
  height: 80%;
}

@media only screen and (width <= 1024px) {
  #performance {
    display: none;
  }
}
