body {
  margin: 0px;
  font-family: Fira code, Fira Mono, Consolas, Menlo, Courier, monospace;
  background-color: var(--background-color);
  color: var(--text-secondary-color);
  overflow-y: auto;
  overflow-x: hidden;
}

#root {
  width: 100vw;
  height: 100vh;
}

@keyframes rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media only screen and (width <= 1024px) {
  #root {
    overflow: auto;
    scrollbar-width: thin;
  }
}
