body {
  margin: 0px;
  font-family: Fira code, Fira Mono, Consolas, Menlo, Courier, monospace;
  background-color: #18181b;
  color: aliceblue;
  overflow-y: auto;
  overflow-x: hidden;
}

#root {
  width: 100vw;
  height: 100vh;
}

#header {
  padding: 15px;
  border-bottom: 1px solid #bcbcbc;
}

#header-container {
  display: flex;
  justify-content: space-between;
  margin: auto;
  width: 75%;
}

#header-text-container {
  display: flex;
  align-items: center;
}

#header-icon {
  animation: rotating 20s linear infinite;
  margin-right: 10px;
}

#header-text {
  font-weight: bold;
  font-size: large;
}

#theme-select {
  display: flex;
  align-items: center;
}

@keyframes rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media only screen and (width <= 1024px) {
  #root {
    overflow: auto;
    scrollbar-width: thin;
  }

  #header-container {
    width: 100%;
  }

  #header {
    margin-bottom: 1px;
  }
}
