body {
  margin: 0px;
  font-family: Fira code, Fira Mono, Consolas, Menlo, Courier, monospace;
  background-color: #18181b;
  color: aliceblue;
}

#root {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

#header {
  background-color: #2a2a2e;
  padding: 15px;
  box-shadow: #61dbfb 0px 0px 2px;
}

#header-container {
  display: flex;
  justify-content: space-between;
  margin: auto;
  width: 75%;
}

#demo-select {
  box-sizing: border-box;
  background-color: inherit;
  color: aliceblue;
  border: none;
  outline: none;
}

#demo-select:hover {
  color: #61dbfb;
  border: none;
  outline: none;
}

.demo-select-option {
  background-color: #18181b;
  color: aliceblue;
}

#header-text-container {
  display: flex;
  align-items: center;
}

#header-icon {
  animation: rotating 20s linear infinite;
  margin-right: 10px;
}

#header-text {
  font-weight: bold;
  font-size: large;
}

@keyframes rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media only screen and (width <= 1024px) {
  #root {
    overflow: auto;
    scrollbar-width: thin;
  }

  #header-container {
    width: 100%;
  }
}
