#simple {
  width: 100%;
  height: 600px;
}

#simple-container {
  width: 75%;
  margin: auto;
  display: flex;
  height: 100%;
  max-width: 1500px;
}

#simple-info {
  margin: auto;
  width: 50%;
}

#simple-info-p {
  color: var(--text-color);
  width: 90%;
}

.simple-link {
  color: #61dbfb;
}

#simple-editor {
  margin: auto;
  width: 50%;
  height: 80%;
}

@media only screen and (width <= 1024px) {
  #simple {
    display: none;
  }
}
