#ide {
  display: flex;
  flex-direction: column;
  width: 75%;
  height: 90%;
  margin: auto;
}

#ide-buttons {
  display: flex;
  margin-bottom: 10px;
}

.ide-button {
  padding: 5px;
  margin-right: 5px;
  background-color: #2a2a2e;
  border: none;
  color: aliceblue;
  width: 100px;
  box-sizing: border-box;
}

.ide-button:hover {
  color: #61dbfb;
  /* outline: #61dbfb solid 1px; */
  cursor: pointer;
  /* box-shadow: #61dbfb 0px 0px 1px; */
}

#ide-input {
  width: 100%;
  height: 50%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#ide-output {
  height: 50%;
  width: 100%;
  background-color: black;
  box-sizing: border-box;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  overflow: auto;
  scrollbar-width: thin;
  margin: 0px;
}

@media only screen and (width <= 1024px) {
  #ide {
    width: 100%;
    flex-grow: 1;
  }

  #ide-buttons {
    margin-bottom: 0px;
  }
}
