#powered {
  width: 100%;
  border-top: 1px solid var(--text-secondary-color);
}

#powered-container {
  display: flex;
  justify-content: space-between;
  width: 75%;
  margin: auto;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.powered-container-img {
  position: relative;
  height: 40px;
  /* width: 10%; */
}

@media only screen and (width <= 1024px) {
  #powered {
    display: none;
  }

  #powered-container {
    width: 100%;
  }

  .powered-container-img {
    width: 20%;
  }
}

/* @keyframes slides {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
} */
