#real-time-preview {
  width: 100%;
  height: 600px;
  background: linear-gradient(
    180deg,
    var(--background-color) 0%,
    var(--background-secondary-color) 100%
  );
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  /* border-bottom: 1px solid white; */
}

#real-time-preview-container {
  margin: auto;
  display: flex;
  width: 75%;
  height: 100%;
}

#editor-container {
  width: 50%;
  padding-top: 10px;
  padding-bottom: 10px;
}

#output {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 50%;
  height: 100%;
  overflow-y: auto;
  scrollbar-width: thin;
  padding: 20px;
}

#desktop-site {
  display: none;
}

@media only screen and (width <= 1024px) {
  #real-time-preview {
    height: 100%;
  }

  #real-time-preview-container {
    width: 100%;
  }

  #editor-container {
    display: none;
  }

  #output {
    width: 100%;
    height: 100%;
  }

  #edit {
    display: none;
  }

  #desktop-site {
    display: block;
  }
}
