#real-time-preview {
  display: flex;
  width: 75%;
  height: 90%;
  margin: auto;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#editor-container {
  width: 50%;
}

#output {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 50%;
  height: 100%;
  padding-top: 5%;
  overflow-y: auto;
  scrollbar-width: thin;
}

@media only screen and (width <= 1440px) {
  #real-time-preview {
    flex-direction: column-reverse;
  }

  #editor-container {
    height: 50%;
    width: 100%;
  }

  #output {
    height: 50%;
    width: 100%;
  }
}

@media only screen and (width <= 1024px) {
  #real-time-preview {
    width: 100%;
    flex-grow: 1;
  }

  #output {
    border: none;
  }
}
