.easy-editor {
  /* prevents external styling messing with things*/
  all: initial;
  box-sizing: border-box;
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
}

.editor-container {
  position: relative;
  display: flex;
  flex: 1;
}

.easy-editor-input {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  border: none;
  resize: none;
  scrollbar-width: thin;
  outline: none;
  margin: 0px;
  padding: 0px;
  color: transparent;
  background: transparent;
  padding: 5px;
  z-index: 999;
  line-height: 1;
}

.easy-editor-display {
  position: absolute;
  outline: none;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  overflow: hidden;
  margin: 0px;
  padding: 0px;
  line-height: 1;
}

.easy-editor-display-pre {
  box-sizing: border-box;
  margin: 0px;
  padding: 5px;
  line-height: 1;
}

.easy-editor-line-numbers {
  box-sizing: border-box;
  overflow: hidden;
  text-align: right;
  padding: 10px;
  padding-top: 5px;
  margin: 0px;
  line-height: 1;
}
