.simple {
  width: 100%;
  height: 600px;
}

.simpleContainer {
  width: 75%;
  margin: auto;
  display: flex;
  height: 100%;
  max-width: 1500px;
}

.simpleInfo {
  margin: auto;
  width: 50%;
}

.simpleInfoP {
  color: var(--text-color);
  width: 90%;
}

.simpleLink {
  color: #61dbfb;
}

.simpleEditor {
  margin: auto;
  width: 50%;
  height: 80%;
}

@media only screen and (width <= 1024px) {
  .simple {
    display: none;
  }
}
