.footer {
  width: 100%;
  border-top: 1px solid var(--text-secondary-color);
}

.footerContainer {
  display: flex;
  justify-content: space-between;
  width: 75%;
  margin: auto;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  max-width: 1500px;
}

.footerContainerImg {
  position: relative;
  height: 40px;
}

@media only screen and (width <= 1024px) {
  .footer {
    display: none;
  }

  .footerContainer {
    width: 100%;
  }

  .footerContainerImg {
    width: 20%;
  }
}
